@font-face {
    font-family: "Amatic SC";
    src: url('/src/fonts/AmaticSC-Regular.ttf') format('truetype')
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 15%;
    width: 80%;
    position: fixed;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}

.navbar-right {
    display: flex;
    justify-content: space-evenly;
    gap: 2vw;
    align-items: center;
    width: 50%;
    font-size: calc(12px + 1vw);
}

.navbar-left {
    width: 50%;
    display: flex;
    align-items: center;
}


.logo {
    background-image: url(/src/images/logo.png);
    background-size: 50px;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
}

.links {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.links:hover {
    transform: scale(1.2);
}